@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

h1 {
  font-family: kode mono, monospace;
  color: #ffffff;
}

p, li {
  font-family: josefin sans, sans-serif;
  color: #ffffff;
}

a {
  font-family: Lucida Console, josefin sans, sans-serif;
  color: white;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

button, iframe {
  background-color: transparent;
  color: white;
  font-family: Lucida Console, josefin sans, sans-serif;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

div.wrapper {
  position: relative;
}

div.content {
  background-color: transparent;
  color: snow;
  position: absolute;
  text-align: center;
  align-content: center;
  align-items: center;
  top: 40%;
  width: 100%;
  z-index: 100;
}

div.flex-table {
  display: flex;
}

img {
  height: 50px;
  width: 50px;
}