<style>
  ul.pager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  li.pg {
    list-style: none;
    margin: 0;
  }
  li.previous {
    order: 1;
  }
  li.next {
    order: 2;
  }
  li.disable, a.disable {
    display: none;
  }
  a.btn {
    text-decoration: none;
    color: black;
    padding: 8px;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>

<ul class="pager">
  {% if page.previous.url %}
    <li class="pg previous"><a class="btn" href="{{page.previous.url}}">Previous</a></li>
  {% else %}
    <li class="pg previous disable"><a class="btn disabled" href="{{page.previous.url}}">Previous</a></li>
  {% endif %}
  {% if page.next.url %}
    <li class="pg next"><a class="btn" href="{{page.next.url}}">Next</a></li>
  {% else %}
    <li class="pg next disable"><a class="btn disabled" href="{{page.next.url}}">Next</a></li>
  {% endif %}
</ul>
