<style>
  footer {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
  }

  ul.pager {
    display: flex;
    flex-direction: row; /* Optional for clarity */
    justify-content: space-between; /* Space out the buttons */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  li.pg {
    list-style: none;
    margin: 0; /* Remove default margin from list items */
  }

  li.previous {
    order: 1;
    margin-right: 10px; /* Add margin to the right of the Previous button */
  }

  li.next {
    order: 2;
    flex-grow: 1; /* Allow the next button to grow */
    text-align: right; /* Align text to the right */
    margin-left: 10px; /* Add margin to the left of the Next button */
  }

  li.disable, a.disable {
    display: none;
  }

  a.btn {
    text-decoration: none;
    color: black;
    padding: 8px;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Additional style for when only the next button is present */
  .single-next {
    justify-content: flex-end; /* Align the next button to the right */
  }
</style>

<ul class="pager {% if page.previous.url == null %}single-next{% endif %}">
  {% if page.previous.url %}
    <li class="pg previous"><a class="btn" href="{{page.previous.url}}">Previous</a></li>
  {% else %}
    <li class="pg previous disable"><a class="btn disabled" href="{{page.previous.url}}">Previous</a></li>
  {% endif %}
  {% if page.next.url %}
    <li class="pg next"><a class="btn" href="{{page.next.url}}">Next</a></li>
  {% else %}
    <li class="pg next disable"><a class="btn disabled" href="{{page.next.url}}">Next</a></li>
  {% endif %}
</ul>
