---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

ul#results-container {
  margin-left: $spacing-unit;
  list-style-type: none;
  background-color: $background-color;
}

span.post-meta {
  font-size: 1rem;
}
